<main class="main">

  <div>
    
    <div>
      <div style="background-color: black; color: white; padding: 10px;">
        <h2 style="margin: 0;">Material basic buttons</h2>
      </div>
      <div style="margin: 10px;">
        <section>
          <div class="example-label">Basic</div>
          <div class="example-button-row">
            <button mat-button class="basic">Basic</button>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled>Disabled</button>
            <a mat-button href="https://www.google.com/" target="_blank">Link</a>
          </div>
        </section>
      </div>
    </div>   

    <div>
      <div style="background-color: black; color: white; padding: 10px;">
        <h2 style="margin: 0;">Raised buttons</h2>
      </div>
      <div style="margin: 10px;">
        <section>
          <div class="example-label">Raised</div>
          <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
          </div>
        </section>
      </div>
    </div>
    
    <div>
      <div style="margin: 10px;">
        <mat-form-field>
          <mat-label>What's your name?</mat-label>
          <input matInput [(ngModel)]="name">
        </mat-form-field>
      </div>
      <div style="margin: 10px;">
        <button mat-raised-button (click)="shareName()">Pick one</button>
      </div>
      <div style="margin: 10px;">
        <h3 for="" style="font-family: cursive;">Hi {{showName}}</h3>
      </div>
    </div>

  </div>

</main>

<router-outlet />